@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import './partials/animatedArrow';
@import './partials/mobileNavbar';

$primary-color: rgba(255, 255, 255, 0.925);
$secondary-color: rgb(241, 28, 60);
$bg-color: rgb(60, 22, 77);
$bg-secondary: rgb(222, 228, 238);



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  line-height: 150%;
}

.mobile-navbar{
  display: none;
}

.container {
  max-width: 1400px;
  padding: 0 1.6rem;
  margin: 0 auto;
  overflow: hidden;
}

body {
  background: $bg-color;
  font-family: 'Ubuntu', sans-serif, Arial;
}

header {
  background: linear-gradient(rgba(165, 71, 71, 0.1), rgb(60, 22, 77)) ,url('../../space.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // border-bottom-left-radius: 6px;
  // border-bottom-right-radius: 6px;
  box-shadow: 0 20px 25px -5px rgba(94, 93, 93, 0.1), 0 10px 10px -5px rgba(97, 96, 96, 0.04);
  height: 100vh;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  background: transparent;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  z-index: 3;
  border: none;
  transition: background 0.3s;
  
  

  .nav-brand h3 {
    // border: 3px solid $primary-color;
    padding: 0.4rem 2rem;
    color: $primary-color;
    font-size: 1.6rem;

    span {
      background: $secondary-color;
      padding: 1rem;
      border: solid 0 white;
      border-radius: 50%;
      margin-right: -1.1rem;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    }
  }

  .nav-list {
    display: flex;

    a{
      margin: 0 3rem;
      color: $primary-color;
      border-bottom: 3px transparent solid;
      transition: 0.3s border-color;
      font-size: 1.3rem;
      padding: 0.6rem 0;
      font-weight: 600;

      &:hover {
        border-color: $secondary-color;
      }
    }
  }
}

// SECTION SHOWCASE
section#showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
  

  h3{
    margin: 2rem 0;
    color: $primary-color;
    font-size: 2.3rem;
  }

  .showcase-text {
    animation: animate 12s linear infinite;
  }

  @keyframes animate {
    0% {
      transform:translateY(0px) rotate(0deg);
    }
    25% {
      transform: translateX(10px) rotate(3deg);
    }
    50% {
      transform: translateY(-10px) rotate(-1deg);
    }
    75% {
      transform: translateX(0px) rotate(0deg);
    }
    100% {
      transform: translateY(0px) rotate(0deg);
    }
  }

  span{
    margin: 2rem 0;
    color: $primary-color;
    font-size: 2.1rem;
    font-weight: 900;
  }

  .work-btn {
    margin: 2rem 0;
    color: $primary-color;
    padding: 2rem 2rem;
    background: $secondary-color;
    transition: .3s ease;
    // border-radius: 25px;
    border-radius: 30% 70% 26% 74% / 30% 30% 70% 70% ;
    text-transform: uppercase;
    font-weight: 900;

    &:hover {
      color: $secondary-color;
      background: $primary-color;
    }
  }
}

// About me

section#about-me{
  color: $primary-color;
  text-align: center;
  padding: 3rem 1rem;
  margin: auto;
  background: linear-gradient(rgb(60, 22, 77), rgba(60, 22, 77, 0.555));
  z-index: 2;

  .container {
    max-width: 900px;
  }

 
  h1{
    font-size: 2.3rem;
    padding-top: 1rem;
    font-weight: 700;

    &:after {
      content: '';
      border: 3px solid $secondary-color;
      border-radius: 25px;
      display: block;
      margin: 0 auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 20%;
    }
  }

  
  p{
    font-size: 1.2rem;
    padding: 3rem 0;
    font-weight: 0;
  }

  li {
    padding: 0.4rem 0;
    font-size: 1.4rem;
    font-weight: 100;
  }
}

// SPECIALIZE

.specialize {
  padding: 3rem 0;
  text-align: center;
  background: rgb(222, 228, 238);
  color: $primary-color;
  

  h3{
    color: $secondary-color;
    padding: 1rem 0;
    font-size: 2.3rem;
    padding-top: 1rem;
    font-weight: 700;

    &:after {
      content: '';
      border: 3px solid $secondary-color;
      border-radius: 25px;
      display: block;
      margin: 0 auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 20%;
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    &>div {
      display: flex;
      flex-direction: column;
      grid-gap: 1rem;
      margin: 3rem 1rem;
      background: $secondary-color;
      border-radius: 6px;
     

      i{
        padding: 2rem 0;
      }

      p{
        padding: 2rem 4rem;
        font-size: 1.2rem;
        font-weight: 0;
      }
    }
  }
}

// SKILLS

section.skills{
  text-align: center;
  padding: 3rem 1rem;
  position: relative;
  overflow: hidden;

  .figure {
    height: 200px;
    width: 200px;
    background: rgba(241, 28, 60, 0.829);
    position: absolute;
    z-index: -1;
    top: -80px;
    right: -80px;
    border-radius: 50%;
    animation: floating 10s linear infinite;
  }

  @keyframes floating {
    25% {
      transform: translateY(20px) rotate(6deg);
    }
    50% {
      transform: translateX(12px) rotate(3deg);
    }
  }
  

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    }

   


  h3{
    color: $primary-color;
    padding: 1rem 0;
    font-size: 2.3rem;
    padding-top: 1rem;
    font-weight: 700;

    &:after {
      content: '';
      border: 3px solid $primary-color;
      border-radius: 25px;
      display: block;
      margin: 0 auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 20%;
    }
  }

  i{
    color: $secondary-color;
    margin: 3rem;
  }
}

// PROJECTS

section.projects{
  padding: 3rem 1rem;
  background: $bg-secondary;
  text-align: center;
  

  h3{
    color: $secondary-color;
    padding: 1rem 0;
    font-size: 2.3rem;
    padding-top: 1rem;
    font-weight: 700;

    &:after {
      content: '';
      border: 3px solid $secondary-color;
      border-radius: 25px;
      display: block;
      margin: 0 auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 20%;
    }
  }
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
  grid-gap: 0.6rem;
}


.content {
  position: relative;
  // width: 400px;
  margin: auto;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
 
  img{
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  

  .content-overlay {
    background: linear-gradient(rgba(241, 28, 60, 0.945), rgba(241, 28, 60, 0.767));
    position: absolute;
    height: 98%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    border-radius: 6px;
  }

  .content:hover .content-overlay{
    opacity: 1;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding: 0 1rem;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
  }

  .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;

    h3 {
      color: $primary-color;
    }

    p {
      color: $primary-color;
    }
  }
}

// CONTACT ME

section.contact-me {
  padding: 3rem 1rem;
  color: $primary-color;
  position: relative;
  overflow: hidden;

  .figure {
    height: 200px;
    width: 200px;
    background: rgba(228, 221, 222, 0.199);
    position: absolute;
    z-index: -1;
    top: 40px;
    right: 60px;
    border-radius: 24% 76% 32% 68% / 18% 29% 71% 82% ;
    animation: floating 10s linear infinite;
  }

  @keyframes floating {
    25% {
      transform: translateY(20px) rotate(6deg);
    }
    50% {
      transform: translateX(12px) rotate(3deg);
    }
  }

  h3{
    text-align: center;
    color: $primary-color;
    padding: 1rem 0;
    font-size: 2.3rem;
    padding-top: 1rem;
    font-weight: 700;

    &:after {
      content: '';
      border: 3px solid $primary-color;
      border-radius: 25px;
      display: block;
      margin: 0 auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 20%;
    }
  }

  .grid-container-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    

    form {
      display:grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      align-items: center;
      gap: 1rem;

    }

    input {
      padding: 1rem 1rem;
      width: 100%;
      border: none;
      margin: 1rem 0;
      font-size: 1.1rem;
      background: $primary-color;
      margin: 0 auto;
      border-radius: 6px;
      line-height: 3rem;
    }

    textarea {
      padding: 1rem 1rem;
      display: block;
      width: 100%;
      border: none;
      font-size: 1.4rem;
      background: $primary-color;
      margin: 0 auto;
      border-radius: 6px;
    }

    button {
      padding: 1rem 1rem;
      width: 50%;
      border: none;
      font-size: 1.1rem;
      background: $primary-color;
      margin: 0 auto;
      border-radius: 6px;
      background: $secondary-color;
      color: $primary-color;
      transition: 0.1s all ease-in;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        background: $primary-color;
        color: $secondary-color;
      }
    }
  }

  // Contact Info

  .my-info {
  

    h2{
      text-align: center;
      color: $primary-color;
      padding: 1rem 0;
      font-size: 2.3rem;
      padding-top: 1rem;
      font-weight: 700;
  
      &:after {
        content: '';
        border: 3px solid $primary-color;
        border-radius: 25px;
        display: block;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 20%;
      }
    }



    .grid-container2 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      justify-content: center;
      gap: 1rem;

      & > div {
        background: $primary-color;
        color: $secondary-color;
        width: 100%;
        margin: 1rem 0;
        padding: 1rem 0;
        border-radius: 6px;

        i, p {
          margin-left: 1rem;
          line-height: 2rem;
        }

        p {
          font-size: 1.2rem;
          font-weight: bold;
        }

      }
    }
  }
}


// Footer

section.footer {
  padding: 2rem 1rem;
  background: $secondary-color;
  
  .grid-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $primary-color;

    p {
      font-size: 1rem;
      padding: 2rem 0;
    }

    .footer-icons i {
      margin: 0 1rem;
      padding: 0.6rem;
      // background: $primary-color;
      border-radius: 6%;
      color: $primary-color;
      border: 2px solid $primary-color;
    }

  }
}


// Media Quaries

// Mobile
@media only screen and (max-width: 768px) {
  .grid-container-contact {
    grid-template-columns: unquote("repeat(1, 1fr)")
  }

  // Navbar
 nav {
   display: none;
 }

 section.specialize {
   .grid-container {
     grid-template-columns: repeat(1, 1fr);
   }
 }

 section.skills {
   .grid-container {
     grid-template-columns: repeat(2, 1fr);
    //  padding: 0 2rem;
   }

  i {
    color: $primary-color;
    margin: 0;
  }
 }

 .mobile-navbar {
   display: block;
 }

//  Specialize
section.contact-me {
  .grid-container-contact {
    grid-template-columns: repeat(1, 1fr);
  }
}

section.footer {
  .grid-container {
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;
  }
}

// Arrow animation

}